<div class="login-page">
  <canvas id="bg-canvas2"></canvas>
  <div class="login-card">
    <div class="login-logo">
      <h1>Import Style</h1>
      <p>CREAR CUENTA ADMIN</p>
    </div>
    <div class="form-group">
      <label>Nombre completo</label>
      <input [(ngModel)]="form.nombre" placeholder="Tu nombre" />
    </div>
    <div class="form-group">
      <label>Correo</label>
      <input type="email" [(ngModel)]="form.email" placeholder="correo&#64;gmail.com" />
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="form.contrasena" placeholder="••••••••" />
    </div>
    <div class="form-group">
      <label>Confirmar contraseña</label>
      <input type="password" [(ngModel)]="form.confirmar" placeholder="••••••••" />
    </div>
    <div class="form-group">
      <label>Código de administrador</label>
      <input type="password" [(ngModel)]="form.codigoAdmin" placeholder="Código secreto" />
    </div>
    <button class="btn-login" (click)="registrar()" [disabled]="cargando">
      {{ cargando ? 'CREANDO...' : 'CREAR CUENTA' }}
    </button>
    <p class="login-error" *ngIf="error">{{ error }}</p>
    <p class="login-registro">
      ¿Ya tienes cuenta? <a routerLink="/login">Iniciar sesión</a>
    </p>
  </div>
</div>